# =========================
# Backend API & Utilities
# =========================
fastapi
uvicorn
python-multipart
python-dotenv
pydantic

# =========================
# LangChain Core
# =========================
langchain
langchain-core
langchain-community
langchain-text-splitters

# =========================
# AI Models (HuggingFace & DeepSeek)
# =========================
langchain-huggingface
huggingface_hub
sentence-transformers

# =========================
# Vector Database (Pinecone)
# =========================
pinecone-client
langchain-pinecone

# =========================
# Document Loaders
# =========================
pypdf